<a href="https://colab.research.google.com/github/kk221/Data-Analysis/blob/master/First_Kaggle_Go.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is the first trail of our Kaggle Competition.
Let's get started.

![alt text](https://gifs.caractereconseil.com//gifs/O-Fanta_en_cuisine.gif?1541768017)

# Load Library

In [ ]:
! pip install -U spacy
import spacy 
import en_core_web_sm
! python -m spacy download es
import es_core_news_sm
from spacy import displacy
from collections import Counter
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from nltk.tokenize import word_tokenize
import nltk

# Dataset

## Import Dataset

In [ ]:
# Load the data
! pip install pydrive                             # Package to use Google Drive API - not installed in Colab VM by default
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth                    # Other necessary packages
from oauth2client.client import GoogleCredentials
auth.authenticate_user()                         # Follow prompt in the authorization process
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()

In [ ]:
drive = GoogleDrive(gauth)
data = drive.CreateFile({'id': '1bVrNdArAWYwGMIXiWuZvH3EulEVOfyQj'})   # "your_module_file_id" is the part after "id=" in the shareable link 
data.GetContentFile('RAW_interactions.csv')                        # Save the module file to Colab VM
# File : https://drive.google.com/file/d/1bVrNdArAWYwGMIXiWuZvH3EulEVOfyQj/view?usp=sharing
# Add the name of the file
RAW_interactions = 'RAW_interactions.csv'

In [ ]:
data2 = drive.CreateFile({'id': '1EjjqzC2vt5vMW7vmQHl2NGBRiE7CynFT'})   # "your_module_file_id" is the part after "id=" in the shareable link 
data2.GetContentFile('RAW_recipes.csv')                        # Save the module file to Colab VM
# File : https://drive.google.com/file/d/1EjjqzC2vt5vMW7vmQHl2NGBRiE7CynFT/view?usp=sharing
# Add the name of the file
RAW_recipes = 'RAW_recipes.csv'

In [ ]:
data3 = drive.CreateFile({'id': '1CFoRlAqbkyyyGiXsGqtjQ4x_cqhRZvr5'})   # "your_module_file_id" is the part after "id=" in the shareable link 
data3.GetContentFile('PP_recipes.csv')                        # Save the module file to Colab VM
# File : https://drive.google.com/file/d/1CFoRlAqbkyyyGiXsGqtjQ4x_cqhRZvr5/view?usp=sharing
# Add the name of the file
PP_recipes = 'PP_recipes.csv'

In [ ]:
data4 = drive.CreateFile({'id': '1u9sOdiQrSmI5zXLiwCLbNKW4Tg_qP9gZ'})   # "your_module_file_id" is the part after "id=" in the shareable link 
data4.GetContentFile('PP_users.csv')                        # Save the module file to Colab VM
# File : https://drive.google.com/file/d/1u9sOdiQrSmI5zXLiwCLbNKW4Tg_qP9gZ/view?usp=sharing
# Add the name of the file
PP_users = 'PP_users.csv'

## Load Dataset

In [ ]:
# Load dataset
df_RAW_int = pd.read_csv (RAW_interactions)
df_RAW_int.head()

   user_id  ...                                             review
0    38094  ...  Great with a salad. Cooked on top of stove for...
1  1293707  ...  So simple, so delicious! Great for chilly fall...
2     8937  ...  This worked very well and is EASY.  I used not...
3   126440  ...  I made the Mexican topping and took it to bunk...
4    57222  ...  Made the cheddar bacon topping, adding a sprin...

[5 rows x 5 columns]

In [ ]:
# Load dataset
df_RAW_recipes = pd.read_csv (RAW_recipes)
df_RAW_recipes.head()

                                         name  ...  n_ingredients
0  arriba   baked winter squash mexican style  ...              7
1            a bit different  breakfast pizza  ...              6
2                   all in the kitchen  chili  ...             13
3                          alouette  potatoes  ...             11
4          amish  tomato ketchup  for canning  ...              8

[5 rows x 12 columns]

In [ ]:
# Load dataset
df_PP_recipes = pd.read_csv (PP_recipes)
df_PP_recipes.head()

       id  ...                                     ingredient_ids
0  424415  ...                      [389, 7655, 6270, 1527, 3406]
1  146223  ...  [2683, 4969, 800, 5298, 840, 2499, 6632, 7022,...
2  312329  ...  [1257, 7655, 6270, 590, 5024, 1119, 4883, 6696...
3   74301  ...   [7940, 3609, 7060, 6265, 1170, 6654, 5003, 3561]
4   76272  ...                            [3484, 6324, 7594, 243]

[5 rows x 8 columns]

In [ ]:
# Load dataset
df_PP_users = pd.read_csv (PP_users)
df_PP_users.head()

   u  ... n_ratings
0  0  ...        31
1  1  ...        39
2  2  ...        27
3  3  ...      1513
4  4  ...       376

[5 rows x 6 columns]